# Configurações do Banco de Dados
DB_SERVER=nome_do_servidor_somee
DB_DATABASE=nome_do_banco
DB_USERNAME=usuario_banco
DB_PASSWORD=sua_senha_secreta
DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes
DB_BACKEND=pymssql

# Configurações do Flask
FLASK_SECRET_KEY=sua_chave_flask
FLASK_ENV=development
FLASK_DEBUG=false

# Configurações de E-mail
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app
MAIL_DEFAULT_SENDER=seu_email@gmail.com

# Cookies de sessão
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax
